{% load static i18n%}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'abiturent.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'batafsil.css' %}">
    <link rel="stylesheet" href="{% static 'fakultetlar.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'faoliyat.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'malumot.css' %}">
    <link rel="stylesheet" href="{% static 'news.css' %}">
    <link rel="stylesheet" href="{% static 'newsdetail.css' %}">
    <link rel="stylesheet" href="{% static 'rektor.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'resurslar.css' %}">
    <link rel="stylesheet" href="{% static 'talabalar.css' %}">
    <link rel="stylesheet" href="{% static 'univer.css' %}"> {% endcomment %}
     
    {% block styles %}{% endblock styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>Document</title>
    
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jivo.ru/widget/o0OgvOOJ1t" async></script>

</head>
<body>

<div class="wrapper">
    <div class="contain__wrap">
    <div class="container">
        <div class="box__contact">
            <div class="contact__logo">
                <a href="{% url 'homepage' %}"><img src="{% static 'Image/Vector.png' %}" alt="contact"></a>
            </div>
            <div class="contact__number">
                <p class="contact__p">
                    <a href="tel:+998 99 218 00 60">+998 99 218 00 60  </a>
                </p>
            </div>
        </div>
        <span id="span1"></span>
        <div class="box__mail">
            <div class="mail__icon">
                <img src="{% static 'Image/icon.png' %}" alt="mail">
            </div>
            <div class="mail__info">
                <p class="mail__p">
                    <a href="mailto:university@utu-ranch.uz">university@utu-ranch.uz</a>
                </p>
            </div>
        </div>
    </div>

    <div class="language">
        <div class="user">
            <button><a class="" href="https://student.hemis.uz/dashboard/login">Hemis</a></button>  
          </div>
        <div class="uzb__image">
            <a href="{% url 'set-language' 'uz' %}"><button><img src="{% static 'Image/Flags.png' %}" alt="icon"></button></a>
        </div>
        <span id="span2"></span>
        <div class="eng__image">
            <a href="{% url 'set-language' 'en' %}"><button><img src="{% static 'Image/Flags (1).png' %}" alt="icon"></button></a>
        </div>
        <span id="span2"></span>
        <div class="eng__image">
            <a href="{% url 'set-language' 'ru' %}"><button><img src="{% static 'Image/34.png' %}" alt="Ru-flag"></button></a>
        </div>
    </div>

    
    </div>
</div>
<header class="header__glav" id="header__glav">
    <div class="box__container">
    <div class="hedaer__image">
        <a class="img__white" href="#"><img src="{% static 'Image/img__malumot/Ranch 4.png' %}" alt=""></a>
       <a class="img__orange" href="{% url 'homepage' %}"><img src="{% static 'Image/img__malumot/Ranch 3.png' %}" alt="logo"></a> 
    </div>
        <nav class="navbar__glav">

        {% if categories %}
        
        {% for cat in categories %}

        <div class="dropdown__glav">
            <button class="dropbtn__glav"> {{cat.name}} 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content__glav">
                {% if cat.children.all %}
                
                {% for chill in cat.children.all %}
                    <a class="a__glav" href="{% url 'category' cat_id=cat.id %}?cat={{chill.id}}">{{chill.name}}</a>
                {% endfor %}
                    
                    
                    {% comment %} {% else %}
                    <a href="#">Adminda qoshing</a> {% endcomment %}

                {% endif %}
                </div>
                
        </div>
        
        
        {% endfor %}
        <div class="dropdown__glav">
            <button class="dropbtn__glav"> {% trans "Talabalar" %}
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content__glav">

                    <a class="a__glav" href="{% static 'pdf/nizom.pdf' %}">{% trans "Meyoriy huquqiy hujjat" %}</a>
                    <a class="a__glav" href="{% static 'pdf/reja.pdf' %}">{% trans "O'quv jarayoni grafigi" %}</a>
                    <a class="a__glav" href="{% static 'pdf/hujjat.pdf' %}">{% trans "Oliy talim davlat talim standarti" %}</a>
                    
                    {% comment %} {% else %}
                    <a href="#">Adminda qoshing</a> {% endcomment %}

                </div>
                
        </div>
        <div class="dropdown__glav">
            <button class="dropbtn__glav"> {% trans "Ta'lim Resurslari" %}
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content__glav">

                    <a class="a__glav" href="">{% trans "Eleqtron adabiyot" %}</a>

                    
                    {% comment %} {% else %}
                    <a href="#">Adminda qoshing</a> {% endcomment %}

                </div>
                
        </div>

        {% else %}
        <div class="dropdown">
            <button class="dropbtn"> Adminda Categoriya qosh 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Universitet haqida</a>
                <a href="#">Universitet nizomi</a>
                <a href="#">Universitet ichgi tartib qoidalari</a>
                <a href="#">Universitet adob-axlpq qodeksi</a>
                <a href="#">Rektorat</a>
                <a href="#">Kafedralar</a>
                <a href="#">Fakultetlar</a>
              </div>
        </div>
        {% endif %}
    </nav>
</div>
</header>
<header id="humburger">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <a href="{% url 'homepage' %}"><div class="btn__leb"><img src="{% static 'Image/img__malumot/Ranch 4.png' %}" alt=""></div></a>
        <ul class="menu__box">
            <div class="vertmenu">
                <ul>
                    {% for ccc in categories %}
                    <li>
                        <a class="active" href="#">{{ccc.name}} </a>
                        <input type="checkbox" class="subCat" id="{{ccc.id}}"/>
                        <label class="chka" for="{{ccc.id}}"></label>
                        <ul style="display:none">
                            {% for chill in ccc.children.all %}
                            <li>
                                <a class="active" href="{% url 'category' ccc.id %}?cat={{chill.id}}">{{chill.name}}</a>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </li>
                    {% endfor %}
                    <li>
                        <a class="active" href="#">{% trans "Talabalar" %} </a>
                        <input type="checkbox" class="subCat" id="5"/>
                        <label class="chka" for="5"></label>
                        <ul style="display:none">

                            <li>
                                <a class="active" href="{% static 'pdf/nizom.pdf' %}">{% trans "Meyoriy huquqiy hujjat" %}</a>
                            </li>
                            <li>
                                <a class="active" href="{% static 'pdf/reja.pdf' %}">{% trans "O'quv jarayoni grafigi" %}</a>
                            </li>
                            <li>
                                <a class="active" href="{% static 'pdf/huffat.pdf' %}">{% trans "Oliy talim davlat talim standarti" %}</a>
                            </li>

                            
                        </ul>
                    </li>
                    <li>
                        <a class="active" href="#">{% trans "Ta'lim Resurslari" %} </a>
                        <input type="checkbox" class="subCat" id="6"/>
                        <label class="chka" for="6"></label>
                        <ul style="display:none">

                            <li>
                                <a class="active" href="">{% trans "Eleqtron adabiyot" %}</a>
                            </li>

                        </ul>
                    </li>
                    
                </ul>
                <div class="user">
                    <button class="hemis"><a class="" href="https://student.hemis.uz/dashboard/login">Hemis</a></button>  
                    <div class="uzb__image">
                        <a href="{% url 'set-language' 'uz' %}"><button class="btn__lang"><img src="{% static 'Image/Flags.png' %}" alt="icon"></button></a>
                    </div>
                    <span id="span2"></span>
                    <div class="eng__image">
                        <a href="{% url 'set-language' 'en' %}"><button class="btn__lang"><img src="{% static 'Image/Flags (1).png' %}" alt="icon"></button></a>
                    </div>
                    <span id="span2"></span>
                    <div class="uzb__image">
                        <a href="{% url 'set-language' 'ru' %}"><button class="btn__lang"><img src="{% static 'Image/34.png' %}" alt="Ru-flag"></button></a>
                    </div>
                  </div>
            </div>
        </ul>
      </div>
</header>


    {% block content %}

    {% endblock content %}

    <section id="contact">
        <div class="contact__container">
            <div class="contact__box">
                <h1>RANCH</h1>
                <p class="cont__tetx">
                    {% trans "Urganch RANCH Texnologiya Universiteti" %}
                </p>
                <p class="nomer">
                    <a href="tel:+998 99 218 00 60">+998 99 218 00 60</a>
                </p>
                <p class="cont__tetx malumot">
                    {% trans "Malumot uchut telefon" %}
                </p>
                <p class="pochta">
                    <a href="mailto:university@utu-ranch.uz">university@utu-ranch.uz</a>
                </p>
                <p class="cont__tetx">
                  {% trans "Malumot uchun email qutisi" %}  
                </p>
            </div>
            <div class="contact__box">
                <h1>Menu</h1>
                <a class="menu__a" href="/category/1/?cat=11">{% trans "Universitet" %}</a>
                <a class="menu__a" href="/category/13/?cat=23">{% trans "Faoliyat" %}</a>
                <a class="menu__a" href="/category/14/?cat=26">{% trans "Abiturient" %}</a>
                <a class="menu__a" href="/category/14/?cat=26">{% trans "Talabalar" %}</a>
                <a class="menu__a" href="/category/16/?cat=33">{% trans "Talim Resurslari" %}</a>
            </div>
            <div class="contact__box__logo">
                <h1>{% trans "Tarmoklar" %}</h1>
                <div class="logog">
                <a href="http://www.instagram.com/utu_ranch"><img src="{% static 'Image/logo/Instagram_icon-icons.com_66804.png' %}" alt=""></a>
                <a href="https://t.me/utu_ranch"><img src="{% static 'Image/logo/telegram_social_network_communication_chat_interaction_icon_192276.png' %}" alt=""></a>
                <a href="https://youtube.com/@uturanch"><img src="{% static 'Image/logo/youtube_logo_icon_168737.png' %}" alt=""></a>
                <a href="https://fb.com/uturanch"><img src="{% static 'Image/logo/4202107facebookfblogosocialsocialmedia-115710_115591.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
   
    <script>
        window.addEventListener('scroll', function(){
            //console.log(window.scrollY);
            let headerNav = document.getElementById('header__glav');
            headerNav.classList.toggle('header__glav-scroll', window.scrollY > 70);
        })
    
          var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            effect: "fade",
            loop: true,
            autoplay: {
              delay: 2500,
              disableOnInteraction: false,
            },
           
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
          });
        var swiper = new Swiper('.blog-slider', {
            effect: 'fade',
            loop: true,
            mousewheel: {
            invert: true,
        },
            autoHeight: false,
            pagination: {
            el: '.blog-slider__pagination',
            clickable: true,
        }
    });
    $('.counting').each(function() {
      var $this = $(this),
      countTo = $this.attr('data-count');
       
      $({ countNum: $this.text()}).animate({
      countNum: countTo
      },
    
      {
    
      duration: 3000,
      easing:'linear',
      step: function() {
      $this.text(Math.floor(this.countNum));
      },
      complete: function() {
      $this.text(this.countNum);
      //alert('finished');
      }
    
      });  
    
    });
    </script>


</body>

</html>