{% extends 'home/base.html' %}
{% load static i18n %}

{% block content %}
<!---->
<section id="home">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for img in banner %}
                <div class="swiper-slide">
                    <img src="{{img.image.url}}" />
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>

<section id="about">
    <div class="title">
        <span id="title"></span>
        <h1>
            {% trans 'Ma’lumotlar' %}
        </h1>
        <span id="title"></span>
    </div>
    <div class="cont">
        <div class="box">
            <div class="box__cont">
                <div class="box__image">
                    <div class="img__box__shadow1"></div>
                </div>
                <div class="box__img__logo"><img src="./Image/part.png" alt=""></div>
                <div class="box__image__text">
                    <h1>KIRISH IMTIHONLARI</h1> <a href="#">Batavsil...</a>
                </div>
            </div>
            <div class="box__cont">
                <div class="box__image">
                    <div class="img__box__shadow2"> </div>
                </div>
                <div class="box__img__logo"><img src="/Image/universyti.png" alt=""></div>
                <div class="box__image__text">
                    <h1>DARS MASHG‘ULOTLARI</h1><a href="#">Batavsil...</a>
                </div>
            </div>
            <div class="box__cont">
                <div class="box__image">
                    <div class="img__box__shadow3"></div>
                </div>
                <div class="box__img__logo"><img src="./Image/qogoz.png" alt=""></div>
                <div class="box__image__text">
                    <h1>MASOFAVIY TA‘LIM TIZIMI</h1><a href="#">Batavsil...</a>
                </div>
            </div>
</section>

<section id="news">
    <div class="news__title">
        <span id="span__news"></span>
        <h1>SO'NGI YANGILIKLAR</h1>
        <span id="span__news"></span>
    </div>
    <div class="blog-slider_wrapper">
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
                <!-- Карточка -->
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="https://atuin.ru/demo/640k/cd-cover-2.jpg" alt="">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__date">Дата</span>
                        <div class="blog-slider__title">Заголовок новости</div>
                        <p>Текст новости</p>
                        <div class="blog-slider__button-wrapper">
                            <a href="#" class="blog-slider__button">Читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="https://atuin.ru/demo/640k/cd-cover-2.jpg" alt="">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__date">Дата</span>
                        <div class="blog-slider__title">Заголовок новости</div>
                        <p>Текст новости</p>
                        <div class="blog-slider__button-wrapper">
                            <a href="#" class="blog-slider__button">Читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                        <img src="https://atuin.ru/demo/640k/cd-cover-2.jpg" alt="">
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__date">Дата</span>
                        <div class="blog-slider__title">Заголовок новости</div>
                        <p>Текст новости</p>
                        <div class="blog-slider__button-wrapper">
                            <a href="#" class="blog-slider__button">Читать далее</a>
                        </div>
                    </div>
                </div>
                <!-- Еще карточки -->
            </div>
            <div class="blog-slider__pagination"></div>
        </div>
    </div>
</section>

<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
    <div class="container__schet">
        <div class="row">

            <div class="col-lg-3 stats">
                <i class="fa fa-code" aria-hidden="true"></i>
                <div class="counting" data-count="1200">0</div>
                <h5>Talabalar</h5>
            </div>

            <div class="col-lg-3 stats">
                <i class="fa fa-check" aria-hidden="true"></i>
                <div class="counting" data-count="15">0</div>
                <h5>Faqultetlar</h5>
            </div>

            <div class="col-lg-3 stats">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="counting" data-count="75">0</div>
                <h5>O'qituvchilar</h5>
            </div>

            <div class="col-lg-3 stats">
                <i class="fa fa-coffee" aria-hidden="true"></i>
                <div class="counting" data-count="1">0</div>
                <h5>Hamqor</h5>
            </div>
        </div>
    </div>

</section>

{% endblock content %}