{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<section id="home__bat">


   <div class="container__news">
       <aside id="side" class="sidebar">

           <div class="wrapper__menu">
               <div class="hedaer__title">
                   <h1>
                       Yangiliklar
                   </h1>
               </div>
                   <nav class="nacbar__nav">
                       <ul>

                           {% for ca in cat_news %}
                            {% comment %} <li><a class="unik__haq" href="/html/news/news.html">{{ca.title}}</a></li> {% endcomment %}
                            <li><a class="menu__a" href="{% url 'news_cat' ca.id%}">{{ca.name}}</a></li>
                           {% endfor %}
                       </ul>
                   </nav>
           </div>

       </aside>

   <div id="content">
       <div class="content__header">
           <div class="cont__img">
               <img src="{{ malumotlar.image.url }}" alt="">
           </div>
           <div class="cont__text">
               <h1>
                   {{malumotlar.title}}
                </h1>
                <!-- Jora "p"ga stil barma bomasa adminda Pga stil barilgan-->
                   {{malumotlar.desc|safe}}
           </div>

           {% for ppp in photos %}

           <div class="cont__img">
                <img src="{{ ppp.image.url }}" alt="">
            </div>
           {% endfor %}
           <div class="btn__blck">
               <div class="cancel">
                   <a href="{% url 'homepage' %}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </div>
               </div>
       </div>
   </div>

</section>
{% endblock content %}