{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <section id="home__mal">
            <aside id="side" class="sidebar">
                <div class="wrapper__menu">
                    <div class="hedaer__title">
                     {% if cat %}
                        <h1>
                           {{cat.name}} 
                        </h1>
                     
                     {% else %}
                     <h1>
                        Universitet 
                     </h1>
                     {% endif %}
                    </div>
                        <nav class="nacbar__nav">
                            <ul>
                               {% for cat in category %}
                               {% for chill in cat.children.all %}
                                    <li><a class="menu__a" href="{% url 'category' cat.id %}?cat={{chill.id}}">{{chill.name}}</a></li>
                                    {% endfor %}
                                    {% if cat.name == 'UNIVERSITET' %}
                                        <li><a class="menu__a" href="{% url 'home:rektorlar' %}">Rekrorat</a></li>
                                    {% endif %}
                                    {% if cat.name == 'UNIVERSITET' %}
                                        <li><a class="menu__a" href="{% url 'home:fakultet' %}">Fakultetlar</a></li>
                                    {% endif %}
                                    {% if cat.name == 'Abiturient' %}
                                        <li><a class="menu__a" href="{% url 'home:magistr' %}">Magistr</a></li>
                                    {% endif %}
                                    {% if cat.name == 'Abiturient' %}
                                        <li><a class="menu__a" href="{% url 'home:mailumot' %}">Mailumot</a></li>
                                    {% endif %}
                                    {% if cat.name == 'Abiturient' %}
                                        <li><a class="menu__a" href="{% url 'home:sirtqi' %}">Sirtqi</a></li>
                                    {% endif %}
                                    
                                      {% comment %} <li><a class="menu__a" href="">defoilt</a></li>
                                      <li><a class="menu__a" href="">defoilt</a></li>
                                      <li><a class="menu__a" href="">defoilt</a></li>
                                      <li><a class="menu__a" href="">defoilt</a></li>
                                      <li><a class="menu__a" href="">defoilt</a></li>
                                      <li><a class="menu__a" href="">defoilt</a></li> {% endcomment %}
                              {% endfor %}
                            </ul>
                        </nav>
                </div>
            </aside>
            <div class="header__contant">
                <div class="header__cont__title"> 
        <span id="spn"></span>
            <h1>
            {{cat.name}}
        </h1>
        <span id="spn"></span>
            </div>
            {% for kontent in kontentla %}
            {% comment %} <div> {% endcomment %}
                <div class="contant__text">
                    <h4>
                        {{kontent.title}}
                    </h4>
                
                <div class="text__cont"> 
                    {{kontent.desc | safe }}
                 </div> 
                {% if kontent.image %}
                    <div class="cont__img__c">
                        <img src="{{kontent.image.url}}" alt="">
                    </div>
                    {% if photos %}
                        {% for p in photos %}
                            <div class="cont__img__c">
                                <img src="{{p.image.url}}" alt="">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if kontent.pdf %}
                    
                    
                    
                    <h1>{{kontent.title}}</h1>
                        <a href="{% url 'home:download_pdf' kontent.id %}"><button>Yuklash</button></a>
                {% endif %}
                </div>
            {% comment %} </div> {% endcomment %}
            {% endfor %}
        </div>

    </section>
    <div class="btn__cncl">
    {% comment %} <div class="cancel">
        <a href="/html/menu.html"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
     </div> {% endcomment %}
    </div>
{% endblock content %}
