{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    <section id="home__fac">
            <aside id="side" class="sidebar">
                <div class="wrapper__menu">
                    <div class="hedaer__title">
                        <h1>
                            Universitet 
                        </h1>
                    </div>
                    <nav class="nacbar__nav">
                        <ul>
                            <li><a class="unik__haq" href="">Kunduzgi talim rejasi</a></li>
                            <li><a class="menu__a" href="">Sirtik talim yonalishlari</a></li>
                            <li><a class="menu__a" href="">Oqishni qochirish</a></li>
                            <li><a class="menu__a" href="">Magistratura yonalish va qabul qvotasi</a></li>
                        </ul>
                    </nav>
                </div>
            </aside>
        <div class="header__contant">
            <div class="header__cont__title"> 
                <span id="spn"></span>
                    <h1>
                   Oqishni qochirish
                </h1>
                <span id="spn"></span>
                    </div>
                {% for oqish in oqish %}
                    <div class="box__text">
                        {{oqish.desc | safe}}
                    </div>
                {% endfor %}
        </div>
    </section>
    {% endblock content %}