{% extends 'home/base.html' %}

{% load static %}

  
{% block content %}
    <section id="home__rec">
            <aside id="side" class="sidebar">
                <div class="wrapper__menu">
                    <div class="hedaer__title">
                        <h1>
                            Universitet 
                        </h1>
                    </div>
                    <nav class="nacbar__nav">
                        <ul>
                           {% for cat in category %}
                           {% for chill in cat.children.all %}
                                <li><a class="menu__a" href="{% url 'category' cat.id %}?cat={{chill.id}}">{{chill.name}}</a></li>
                                {% endfor %}
                                {% if cat.name == 'UNIVERSITET' %}
                                    <li><a class="menu__a" href="{% url 'home:rektorlar' %}">Rekrorat</a></li>
                                {% endif %}
                                {% if cat.name == 'UNIVERSITET' %}
                                    <li><a class="menu__a" href="{% url 'home:fakultet' %}">Fakultetlar</a></li>
                                {% endif %}
                                
                                  {% comment %} <li><a class="menu__a" href="">defoilt</a></li>
                                  <li><a class="menu__a" href="">defoilt</a></li>
                                  <li><a class="menu__a" href="">defoilt</a></li>
                                  <li><a class="menu__a" href="">defoilt</a></li>
                                  <li><a class="menu__a" href="">defoilt</a></li>
                                  <li><a class="menu__a" href="">defoilt</a></li> {% endcomment %}
                          {% endfor %}
                        </ul>
                    </nav>
                </div>
            </aside>
        <div class="header__contant__rec">
                <div class="header__cont__title__rec"> 
        <span id="spn"></span>
            <h1>
           Rektorat
        </h1>
        <span id="spn"></span>
            </div>

        <div class="rec__box">
            {% if rektorla %}
            {% for ccc in rektorla %}
            <div class="contant__text__rec">
                <div class="rec__img">
                    <img src="{{ccc.image.url}}" alt="">
                </div>
                <div class="rec__text">
                    <h3>
                        {{ccc.lavozim}}
                    </h3>
                    {{ccc.desc | safe}}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="rec__text">
                <h3>
                   Admindan rektor qoshing
                </h3>
            </div>
            {% endif %}
            {% comment %} <div class="contant__text">
                <div class="rec__img">
                    <img src="http://utu-ranch.uz/ranch/web/img/Davron%20Rektor.png" alt="">
                </div>
                <div class="rec__text">
                    <h3>
                        Rektor vazifasini bajaruvchi
                    </h3>
                    <p>
                        Ruzmetov Davron Ibrogimovich <br>
                        <br>
                        Seshanba-chorshanba <br>
                        <br>
                        ranchurgench@gmail.com <br>
                        <br>
                        +998 90 323 99 23 <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="contant__text">
                <div class="rec__img">
                    <img src="http://utu-ranch.uz/ranch/web/img/12g.png" alt="">
                </div>
                <div class="rec__text">
                    <h3>
                        Rektor maslahatchisi
                    </h3>
                    <p>
                        Matyakubov Аlisher Eshchanovich<br>
                        <br>
                        Seshanba-chorshanba<br>
                        <br>
                        kb767767@gmail.com<br>
                        <br>
                        +998 99 501 10 15<br>
                    </p>
                </div>
            </div>
            <div class="contant__text">
                <div class="rec__img">
                    <img src="http://utu-ranch.uz/ranch/web/img/photo_2023-05-02_20-59-59.jpg" alt="">
                </div>
                <div class="rec__text">
                    <h3>
                        Rektorning xalqaro ishlar bo'yicha maslahatchisi
                    </h3>
                    <p>
                        Dada Adeboye Olalekan<br>
                        <br>
                        -<br>
                        <br>
                        adeboye.dada@northampton.ac.uk<br>
                        <br>
                        +447 96 187 07 70<br>
                    </p>
                </div>
            </div> {% endcomment %}
        </div>
        </div>
    </section>
    {% endblock content %}
