{% extends 'home/base.html' %}
{% load static %}


{% block content %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="{% static 'glavnaya.css' %}" />

    <div class="gallery__nav__heaeder">
      <div class="swiper galSwiper">
        <div class="swiper-wrapper gallery__swiper__wrapper">


          <div class="swiper-slide gallery__nav__swiper__slider">
            <img src="{% static 'Image/wallpaperbetter.jpg' %}" alt="img" />
            <h1 class="nav__slider__h1">
              Urganch Ranch Texnologiya Universiteti
            </h1>
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="gallery__nav__swiper__slider">
      <span></span>
      <h1>Фото галерея</h1>
      <span></span>
    </div>
    <div class="gallery__nav__foto__content"> 
      <div class="swiper FotSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="gallery__nav__swiper__slider">
      <span></span>
      <h1>Видео галерея</h1>
      <span></span>
    </div>
    <div class="gallery__nav__video__content"> 
      <div class="swiper VidSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".galSwiper", {
        direction: "vertical",
        autoplay: {
          delay: 10000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });

      var swiper = new Swiper(".FotSwiper", {
      slidesPerView: 1,
      grid: {
        rows: 2,
      },
      breakpoints:{
        767: {
          slidesPerView: 2,
      grid: {
        rows: 2,
      },
        }
      },
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    var swiper = new Swiper(".VidSwiper", {
      slidesPerView: 1,
      grid: {
        rows: 1,
      },
      breakpoints:{
        767: {
          slidesPerView: 2,
      grid: {
        rows: 1,
      },
        }
      },
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    </script>
{% endblock content %}