{% extends 'home/base.html' %}
{% load static %}


{% block content %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="{% static 'glavnaya.css' %}" />

    <div class="gallery__nav__heaeder">
      <div class="swiper galSwiper">
        <div class="swiper-wrapper gallery__swiper__wrapper">

          {% for img in topbanner %}
            <div class="swiper-slide gallery__nav__swiper__slider">
              <img src="{{ img.image.url }}" alt="img" />
              <h1 class="nav__slider__h1">
                Urganch Ranch Texnologiya Universiteti
              </h1>
            </div>
          {% endfor %}
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="gallery__nav__swiper__slider">
      <span></span>
      <h1>Фото галерея</h1>
      <span></span>
    </div>
    <div class="gallery__nav__foto__content"> 
      <div class="swiper FotSwiper">
        <div class="swiper-wrapper">
          {% for gal in gal_image %}
            <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="{% url 'foto' %}"><img src="{{gal.image.url}}" alt="img"></a></div></div>
          {% endfor %}
          {% comment %} <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div>
          <div class="swiper-slide gallery__nav__foto__slide"> <div class="nav__foto__img"><a href="./../gallery-foto/foto.html"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"></a></div></div> {% endcomment %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="gallery__nav__swiper__slider">
      <span></span>
      <h1>Видео галерея</h1>
      <span></span>
    </div>
    <div class="gallery__nav__video__content"> 
      <div class="swiper VidSwiper">
        <div class="swiper-wrapper">
          {% for vid in videos %}
            <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="{{vid.thumbnail.url}}" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="{% url 'video' %}">Смотреть</a></div></div></div>
          {% endfor %}
          {% comment %} <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div>
          <div class="swiper-slide gallery__nav__video__slide"><div class="gallery__nav__video__img"><img src="./../gallery-video/wallpaperbetter.jpg" alt="img"> <div class="koroche__text"><p>Ranch Media</p><a href="./../gallery-video/video.html">Смотреть</a></div></div></div> {% endcomment %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
{% endblock content %}
