{% extends 'home/base.html' %}
{% load static i18n %}

{% block content %}

<section id="home__new__deteil">


    <div class="container__news">
        <aside id="side" class="sidebar">

            <div class="wrapper__menu">
                <div class="hedaer__title">
                    <h1>
                        Yangiliklar
                    </h1>
                </div>
                    <nav class="nacbar__nav">
                        <ul>
                           {% for ca in cat_news %}
                            {% comment %} <li><a class="unik__haq" href="/html/news/news.html">{{ca.title}}</a></li> {% endcomment %}
                            <li><a class="menu__a" href="{% url 'news_cat' ca.id%}">{{ca.name}}</a></li>
                           {% endfor %}
                            {% comment %} <li><a class="menu__a" href="">Omaviy tadbir</a></li>
                            <li><a class="menu__a" href="">Xalkaro aloqa</a></li> {% endcomment %}
                        </ul>
                    </nav>
            </div>

        </aside>

    <div id="content">
        <div class="content__header">
            <div class="cont__img">
                <img src="{{yangilik.image.url}}" alt="">
            </div>
            <div class="cont__text">
                <h1>
                    {{yangilik.title}}
                </h1>

                  {{yangilik.desc | safe}}
            </div>
        </div>
    </div>
</div>
 
</section>
{% endblock %}