{% extends 'home/base.html' %}
{% load static i18n %}

{% block content %}

<section id="home__new">


    <div class="container__news">
        <aside id="side" class="sidebar">

            <div class="wrapper__menu">
                <div class="hedaer__title">
                    <h1>
                        Yangiliklar
                    </h1>
                </div>
                    <nav class="nacbar__nav">
                        <ul>
                           {% for ca in cat_news %}
                            {% comment %} <li><a class="unik__haq" href="/html/news/news.html">{{ca.title}}</a></li> {% endcomment %}
                            <li><a class="menu__a" href="{% url 'news:news_cat' ca.id%}">{{ca.name}}</a></li>
                           {% endfor %}
                            {% comment %} <li><a class="menu__a" href="">Omaviy tadbir</a></li>
                            <li><a class="menu__a" href="">Xalkaro aloqa</a></li> {% endcomment %}
                        </ul>
                    </nav>
            </div>

        </aside>

    <div id="content">
        <div class="content__header">
            <div class="cont__img">
                <img src="{{yangilik.image.url}}" alt="">
            </div>
            <div class="cont__text">
                <h1>
                    {{yangilik.title}}
                </h1>

                  {{yangilik.desc | safe}}
            </div>
            <div class="btn__blck">
                <div class="cancel">
                    <a href="{% url 'home:homepage' %}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                 </div>
                </div>
        </div>
    </div>
</div>





    <section id="contact">
        <div class="contact__container">
            <div class="contact__box">
                <h1>RANCH</h1>
                <p class="cont__tetx">
                    Urganch RANCH Texnologiya Universiteti
                </p>
                <p class="nomer">
                    <a href="tel:+998 99 218 00 60">+998 99 218 00 60</a>
                </p>
                <p class="cont__tetx malumot">
                    Malumot uchut telefon
                </p>
                <p class="pochta">
                    <a href="mailto:ranchuniversity@gmail.com">ranchuniversity@gmail.com</a>
                </p>
                <p class="cont__tetx">
                  Malumot uchun email qutisi  
                </p>
            </div>
            <div class="contact__box">
                <h1>Menu</h1>
                <a class="menu__a" href="/html/menu.html">Universitet</a>
                <a class="menu__a" href="/html/menu2.html">Faoliyat</a>
                <a class="menu__a" href="/html/menu3.html">Abiturient</a>
                <a class="menu__a" href="/html/menu4.html">Talabalar</a>
                <a class="menu__a" href="/html/menu5.html">Talim Resurslari</a>
            </div>
            <div class="contact__box__logo">
                <h1>Tarmoklar</h1>
                <div class="logog">
                <a href="http://www.instagram.com/utu_ranch"><img src="/Image/logo/Instagram_icon-icons.com_66804.png" alt=""></a>
                <a href="https://t.me/utu_ranch"><img src="/Image/logo/telegram_social_network_communication_chat_interaction_icon_192276.png" alt=""></a>
                <a href="https://youtube.com/@uturanch"><img src="/Image/logo/youtube_logo_icon_168737.png" alt=""></a>
                <a href="https://fb.com/uturanch"><img src="/Image/logo/4202107facebookfblogosocialsocialmedia-115710_115591.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
 
{% endblock %}