{% extends 'home/base.html' %}

{% block content %}

<section id="home">
    <aside id="side" class="sidebar">
        <div class="wrapper__menu">
            <div class="hedaer__title">
                <h1>
                    Yangiliklar
                </h1>
            </div>
                <nav class="nacbar__nav">
                    <ul>
                        <li><a class="unik__haq" href="">Songi yangiliklar</a></li>
                        <li><a class="menu__a" href="">Omaviy tadbir</a></li>
                        <li><a class="menu__a" href="">Xalkaro aloqa</a></li>
                    </ul>
                </nav>
        </div>
    </aside>
<div class="header__contant">
    <div class="header__cont__title"> 
    <h1>
    Songi yangiliklar
</h1>
<span id="spn"></span>
</div>
    <div class="news__cont__box">
        <div class="news__cont__img">
            <img src="https://atuin.ru/demo/640k/cd-cover-2.jpg" alt="">
        </div>
        <div class="news__cont__text">
           <a href="/html/newsdeteil/newsdeteil.html"><h1>
                Urganch RANCH texnologiya universitetida Angliyaning Northampton...
            </h1></a> 
            <p class="time">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                2023-05-11 
            </p>
            <p class="new__cont__box__p">
                Bugun mehmonimiz Professor DADA Adeboye qadimiy Xivaga tashrif buyurdi. Xivada qadimiy obidalar bilan tanishib ulkan tarixiy merosga ega vatanimiz to‘g‘risida Northampton universitetida alohida taqdimot...
            </p>
        </div>
    </div>
    <div class="news__cont__box">
        <div class="news__cont__img">
            <img src="https://atuin.ru/demo/640k/cd-cover-2.jpg" alt="">
        </div>
        <div class="news__cont__text">
           <a href="/html/newsdeteil/newsdeteil.html"><h1>
                Urganch RANCH texnologiya universitetida Angliyaning Northampton...
            </h1></a> 
            <p class="time">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                2023-05-11 
            </p>
            <p class="new__cont__box__p">
                Bugun mehmonimiz Professor DADA Adeboye qadimiy Xivaga tashrif buyurdi. Xivada qadimiy obidalar bilan tanishib ulkan tarixiy merosga ega vatanimiz to‘g‘risida Northampton universitetida alohida taqdimot...
            </p>
        </div>
    </div>
    <div class="news__cont__box">
        <div class="news__cont__img">
            <img src="https://atuin.ru/demo/640k/cd-cover-2.jpg" alt="">
        </div>
        <div class="news__cont__text">
           <a href="/html/newsdeteil/newsdeteil.html"><h1>
                Urganch RANCH texnologiya universitetida Angliyaning Northampton...
            </h1></a> 
            <p class="time">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                2023-05-11 
            </p>
            <p class="new__cont__box__p">
                Bugun mehmonimiz Professor DADA Adeboye qadimiy Xivaga tashrif buyurdi. Xivada qadimiy obidalar bilan tanishib ulkan tarixiy merosga ega vatanimiz to‘g‘risida Northampton universitetida alohida taqdimot...
            </p>
        </div>
    </div>
    <div class="btn__cont">
    <div class="btn__div">
    <button class="btn">Yana yuqlsh</button>
    <div class="btn__blck">
        <div class="cancel">
            <a href="/index.html"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
         </div>
        </div>
</div>
</div>
    </div>
</div>
</section>
    <section id="contact" class="contact">
        <div class="contact__container">
            <div class="contact__box">
                <h1>RANCH</h1>
                <p class="cont__tetx">
                    Urganch RANCH Texnologiya Universiteti
                </p>
                <p class="nomer">
                    <a href="tel:+998 99 218 00 60">+998 99 218 00 60</a>
                </p>
                <p class="cont__tetx malumot">
                    Malumot uchut telefon
                </p>
                <p class="pochta">
                    <a href="mailto:ranchuniversity@gmail.com">ranchuniversity@gmail.com</a>
                </p>
                <p class="cont__tetx">
                  Malumot uchun email qutisi  
                </p>
            </div>
            <div class="contact__box">
                <h1>Menu</h1>
                <a class="menu__a" href="/html/menu.html">Universitet</a>
                <a class="menu__a" href="/html/menu2.html">Faoliyat</a>
                <a class="menu__a" href="/html/menu3.html">Abiturient</a>
                <a class="menu__a" href="/html/menu4.html">Talabalar</a>
                <a class="menu__a" href="/html/menu5.html">Talim Resurslari</a>
            </div>
            <div class="contact__box__logo">
                <h1>Tarmoklar</h1>
                <div class="logog">
                <a href="http://www.instagram.com/utu_ranch"><img src="/Image/logo/Instagram_icon-icons.com_66804.png" alt=""></a>
                <a href="https://t.me/utu_ranch"><img src="/Image/logo/telegram_social_network_communication_chat_interaction_icon_192276.png" alt=""></a>
                <a href="https://youtube.com/@uturanch"><img src="/Image/logo/youtube_logo_icon_168737.png" alt=""></a>
                <a href="https://fb.com/uturanch"><img src="/Image/logo/4202107facebookfblogosocialsocialmedia-115710_115591.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    
    {% block script %}
    <script>
        const btn = document.querySelector('.btn');
        const news__cont__boxs = document.querySelectorAll('.news__cont__box');


        btn.addEventListener('click', function() {


            for(let news__cont__box of news__cont__boxs) {
                news__cont__box.style.display = 'flex'
            }

            btn.style.display = 'none';
        });
    </script>
    {% endblock script %}

{% endblock content %}