{% extends 'home/base.html' %}
{% load static i18n %}

{% block content %}

    <section id="home__new">
        <aside id="side" class="sidebar">
            <div class="wrapper__menu">
                <div class="hedaer__title">
                    <h1>
                        {% trans "Yangiliklar" %}
                    </h1>
                </div>
                    <nav class="nacbar__nav">
                        <ul>
                            {% comment %} <li><a class="unik__haq" href="">Songi yangiliklar</a></li> {% endcomment %}
                            {% for cat in cat_news %}
                                <li><a class="menu__a" href="{% url 'news_cat' cat.id %}">{{cat.name}}</a></li>
                            {% endfor %}
                            {% comment %} <li><a class="menu__a" href="">Xalkaro aloqa</a></li> {% endcomment %}
                        </ul>
                    </nav>
            </div>
        </aside>
    <div class="header__contant">
        <div class="header__cont__title"> 
        {% comment %} <h1>
        {{catw.name}}
    </h1> {% endcomment %}
    </div>
    {% for yan in yangiliklar %}
        <div class="news__cont__box">
            <div class="news__cont__img">
                <img src="{{yan.image.url}}" alt="">
            </div>
            <div class="news__cont__text">
               <a href="{% url 'new_detail' yan.id %}"><h1>
                    {{yan.title}}
                </h1></a> 
                {% comment %} <p class="time">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{yan.created_at}} 
                </p> {% endcomment %}
                {% comment %} <div class="new__cont__box__p">
                    {{yan.desc | safe | truncatewords:20}}
                </div> {% endcomment %}
            </div>
        </div>
    {% endfor %}

        <div class="btn__cont">
        <div class="btn__div">
        <button class="btn">Yana yuqlsh</button>
    </div>
    </div>
        </div>
    </div>
    </section>
    <script>
        const btn = document.querySelector('.btn');
        const news__cont__boxs = document.querySelectorAll('.news__cont__box');


        btn.addEventListener('click', function() {


            for(let news__cont__box of news__cont__boxs) {
                news__cont__box.style.display = 'flex'
            }

            btn.style.display = 'none';
        });
    </script>
    
{% endblock %}