* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    
    padding-top: 20px;
    display: flex;
    justify-content:space-around;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.container {
    z-index: 100;
    width: 430px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box__contact {
    max-width: 250px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.uzb__image button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.eng__image button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#span1{
    z-index: 100;
    width: 2px;
    height: 52px;
    background: #FF8B36;
}

.box__mail {
    z-index: 100;
    max-width: 250px;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.language {
    z-index: 100;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

#span2 {
    width: 2px;
    height: 32px;
    background: #FF8B36;
}

.header {
    z-index: 100;  
    border-top: 1px solid #FF8B36;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:center ;
    transition: all .1s ease;
}

.hedaer__image {
    width: 120px;

}
.hedaer__image img {
    width: 120px;
}
.box__container {
    padding: 20px 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar ul {
    display: flex;
}
.navbar ul .li__box {
    list-style: none;
    padding-right: 20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    padding: 2px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #FF8B36;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.img__white {
    display: none;
}

.header-scroll {
    border-top: none;
    position: fixed;
    top:0;
    width: 100%;
    height: 70px;
    background: #FF8B36;
}
.header-scroll .img__orange{
    display: none;
}
.header-scroll .img__white {
    display: block;
}

.header-scroll .navbar li a {
    color: #fff;
    background: none;
}

#home {
    position: relative;
    z-index: 90;
    margin-top:-100px ;
    -webkit-box-shadow: 5px 14px 19px 0px rgba(18, 19, 19, 0.527);
    -moz-box-shadow: 5px 14px 19px 0px rgba(53, 50, 50, 0.541);
    box-shadow: 5px 14px 19px 0px rgba(8, 8, 8, 0.411);
}

/*.swiper-slide img {
    background: linear-gradient(180deg, rgba(255, 139, 54, 0.45) 0%, rgba(255, 139, 54, 0.405) 18.75%, rgba(255, 139, 54, 0.0675) 100%);
}*/

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 50%;
    right:10px;
    padding: 30px;
    color: #FF8B36 !important;
    fill: #FF8B36 !important;
    stroke: #FF8B36 !important;
    transition: all .3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 50%;
    right:10px;
    padding: 30px;
    color: #FF8B36 !important;
    fill: #FF8B36 !important;
    stroke: #FF8B36 !important;
}

.swiper-pagination{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swiper {

    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    

#about {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.title h1 {
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    color: #FF8B36;
}

#title{
    margin: 0 20px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #FF8B36;
}

.cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.box__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 50px 80px;
    background-color: #FF8B36;
    box-shadow: 0px 4px 9px 4px rgba(0, 0, 0, 0.3);
}

.box__image {
    width: 100%;
    height: 290px;
    padding: 4px;
}


.img__box__shadow1 {
    background-image: url(./Image/img__malumot/4bf8b7928ca22ba7d0e94b6678bc70df0801\ 1.png);
    border-radius: 10px;
    height: 270px;
    width: 100%;
    box-shadow: inset 0px 0px 10px 8px rgba(255, 255, 255, 0.77);
}

.img__box__shadow2 {
    background-image: url(./Image/img__malumot/photo_2023-04-10_11-38-00\ 1.png);
    border-radius: 10px;
    height: 270px;
    width: 100%;
    box-shadow: inset 0px 0px 10px 8px rgba(255, 255, 255, 0.77);
}

.img__box__shadow3 {
    background-image: url(./Image/img__malumot/4bf8b7928ca22ba7d0e94b6678bc70df0801\ 1.png);
    border-radius: 10px;
    height: 270px;
    width: 100%;
    box-shadow: inset 0px 0px 10px 8px rgba(255, 255, 255, 0.77);
}

.box__img__logo {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}
.box__img__logo img {
    width: 30px;
    height: 30px;
}
.box__image__text {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box__image__text h1 {
    background-color: white;
    color: #FF8B36;
    font-size: 15px;
    padding: 10px 20px ;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 18px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 18px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 18px 0px rgba(34, 60, 80, 0.2);
}

.box__image__text a {
    text-decoration: none;
    color: white;
}

#news{
    margin-top:250px;
    width: 100%;
    height: 80vh;
    padding-bottom: 50px;
}

.news__title {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }

.news__title h1 {
    font-size: 38px;
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #FF8B36;
}

#span__news{
    margin: 0 20px;
    width: 50%;
    height: 2px;
    border-radius: 10px;
    background-color: #FF8B36;
}

.blog-slider * {
    box-sizing: border-box;
}
.blog-slider_wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.blog-slider {
    width: calc(70% - 70px);
    margin: 20px 0 20px 80px;    
    position: relative;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 8px 22px rgba(0,0,0,0.1);
    padding: 25px 0 20px 0;
    border-radius: 25px;
    transition: all .3s; 
    border: 6px solid #BFE2FF;
}
.blog-slider__item {
    display: flex;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
    transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
    transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
    transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
    transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
    transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
    transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
    transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
    transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
    transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
    transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
    transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
    transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
    transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
    transition-delay: 1.7s;
}
.blog-slider__img {
    width: 300px;
    height: 300px; 
    flex-shrink: 0;
    background-image: linear-gradient(147deg, #BFE2FF 0%, #FF8B36 74%);  
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    border-radius: 25px;
    transform: translateX(-80px) scale(0);
    overflow: hidden;
    opacity: 0;  
}
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: all .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__img {
    opacity: 1;
    transition-duration: 0.5s;
    transform: translateX(-80px) scale(1);
}
.blog-slider__content {
    transform: translateX(-42px);
}
.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}
.blog-slider__date {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-size: 13px;
    font-family: Verdana, sans-serif;   
    font-weight: bold;
}
.blog-slider__title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 30px;
    color: #FF8B36;
    margin-bottom: 10px;
}
.blog-slider__content p {
    color: #000;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 15px;
    font-family: Verdana, sans-serif; 
}
.blog-slider__button-wrapper {
    text-align: right;
}
.blog-slider__button {
    display: inline-flex;
    margin-top: 10px;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    line-height: 18px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Ð¢ahoma, sans-serif;
    background: #FF8B36;
    cursor: pointer; 
    border: 2px solid #BFE2FF;
    border-radius: 25px;
}
.blog-slider__button:hover,
.blog-slider__button:active,
.blog-slider__button:focus {
    color: #FFF;
}
.blog-slider__button:after,
.blog-slider__button:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #FF8B36;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.blog-slider__button:before {
    top: -6px;
}
.blog-slider__button:hover:after,
.blog-slider__button:hover:before,
.blog-slider__button:active:after,
.blog-slider__button:active:before,
.blog-slider__button:focus:after,
.blog-slider__button:focus:before {
    width: calc(100% - 40px);
    left: 20px;
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, 
.blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px!important;
    left: auto!important;
    top: 20px;
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #FF8B36;
    opacity: 0.2;
    transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FF8B36;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
    .blog-slider {
        width: calc(100% - 10px);
        margin: 180px auto 20px auto;
    }
    .blog-slider__item {
        flex-direction: column;
    }  
    .blog-slider__img {
        margin: auto;
        transform: translateX(0) translateY(-180px) scale(0);
    }
    .blog-slider__item.swiper-slide-active .blog-slider__img {
        opacity: 1;
        transition-duration: 0.5s;
        transform: translateX(0) translateY(-180px) scale(1);
    } 
    .blog-slider__content {
        transform: translateX(0);
        margin-top: -120px;
        text-align: center;
        padding: 0 30px;  
    }
    .blog-slider__button-wrapper {
        text-align: center;
    }    
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50%!important;
        top: 170px;
        width: 100%!important;
        display: flex;
        height: 30px;
        justify-content: center;
    }
    .blog-slider__pagination .swiper-pagination-bullet-active {
        height: 11px;
        width: 30px;
    }
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 5px;
    } 
}
@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 260px;
        height: 260px;
    }
    .blog-slider__content {
        padding: 0 12px;  
    }  
    .blog-slider__pagination {
        top: 130px;
    } 
}

#counter-stats {
    background-color:rgba(255, 228, 196, 0.336);
    height: 50vh;
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }
  
  .stats {
    background-color: #FF8B36;
    color: #fff;
    border-radius: 15px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 0px 26px 14px rgba(127, 127, 128, 0.2);
    -moz-box-shadow: 0px 0px 26px 14px rgba(94, 95, 95, 0.2);
    box-shadow: 0px 0px 26px 14px rgba(128, 130, 131, 0.2);
  }
  
  .counting {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
  }

  .stats h5 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .stats .fa {
    color: #fff;
    font-size: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
